main{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
}
.search-form {
    width: 800px;
    position: relative;
}
  
  .search-input {
    width: 100%;
    display: block;
    padding: 18px 18px 18px 44px;
    border: none !important;
    outline: none !important;
    border-radius: 25px;
    background-color: white;
    color: #333;
    font-size: var(--fsM);
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  .search-icon{
    position: absolute;
    color: var(--rootColor);
    left: 18px;
    top: 0;
    transform: translateY(100%);
  }


.search-terms-wrap{
  display: flex;
  width: 100%;
}
.search-term{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: var(--rootColor);
  margin-right: 10px;
  font-size: 14px;
  user-select: none;
  color: white;
}
.search-term-span{
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 3px 7px;
}

.xIcon{
  cursor: pointer;
  font-size: 17px;
  padding: 3px 7px;
}

.asbsolute-input{
  position: absolute;
}