main{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
}
.search-form {
    width: 800px;
    position: relative;
}
  
  .search-input {
    width: 100%;
    display: block;
    padding: 18px 18px 18px 44px;
    border: none !important;
    outline: none !important;
    border-radius: 25px;
    background-color: white;
    color: #333;
    font-size: var(--fsM);
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  .search-icon{
    position: absolute;
    color: var(--rootColor);
    left: 18px;
    top: 0;
    transform: translateY(100%);
  }

.search-terms-wrap{
  position: absolute;
  display: flex;
  width: 100%;
  background-color: white;
  margin: 10px 0 0 0;
  padding: 15px;
  z-index: 5;
  border-radius: 20px;
  box-shadow: var(--bxs);
}
.li-wrap{
  display: flex;
  overflow: hidden;
}
.close-open{
  padding: 3px !important;
  margin: 0 5px;
  color: var(--orange);
}
.icons-wrap{
  display: flex;
  align-items: center;
}
.search-term{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: var(--rootColor);
  margin-left: 10px;
  font-size: 14px;
  user-select: none;
  color: white;
}
.search-term-span{
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 3px 7px;
}

.xIcon{
  cursor: pointer;
  font-size: 17px;
  padding: 3px 7px;
}

.asbsolute-input{
  position: absolute;
}

/* results */
.search-results{
  position: absolute;
  transform: translateY(10px);
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 40px 10px 0 10px;
  border-radius: 10px;
  box-shadow: var(--bxs);
  z-index: 10001;
  max-height: 300px;
  overflow-y: auto;
}
.search-result{
    min-height: 40px;
    font-size: var(--fsS);
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--eventColor);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 7px;
}


.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: blue rgba(0, 0, 0, 0.1);
}
.close-icon-wrap{
  width: calc(100% - 20px);
  display: flex;
  position: absolute;
  margin: 10px 0 0 10px;
  z-index: 10002;
  background-color: white;
}
.close-icon{
  padding: 7px 0 5px 0;
  display: block;
  font-size: 22px;
  color: var(--orange);
  cursor: pointer;
}

.result-text{
  margin-bottom: 7px;
  color: white;
  font-weight: bold;
  display: inline-block;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1); /* Thin transparent black background */
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 4px;
}
@media screen and (max-width: 1100px){
  .search-form{
    width: 100%;
  }
}
