<main>
    <h2 class="upcoming-header">Upcoming Events</h2>
    <div class="event" *ngFor="let event of (upcoming$ | async)" 
        [ngStyle]="{'border-left': '3.5px solid ' + event.color}"
        (click)="goToSingleDay(event.date)">
        <h2 class="event-desc">{{event.name | wordCut}}</h2>
        <div class="event-time">
            {{getDate(event.date)}}, {{getConverted(event.start, false)}}
        </div>
    </div>
    <div class="event" *ngIf="(upcoming$ | async)?.length == 0" 
        [ngStyle]="{'border-left': '3.5px solid var(--orange)'}">
        <h2 class="event-desc">No upcoming events</h2>
    </div>
</main>