<main>
<div class="container">
    <section class="year-wrap"> 
        <app-year [today]="today"></app-year>
    </section>
    <table>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let day of row" #td [ngClass]="{ 'c-day': currentDay == day }">
                    <span class="day-span" [ngClass]="{ 'c-day-span': currentDay == day }">{{ day }}</span>
                    <div 
                        class="toggle-wrapper" 
                        *ngIf="day != null"
                        routerLink="singleday"
                    >
                        <div class="c-day-events" *ngIf="currentDay == day">
                            <h2 class="c-day-events-c">0</h2>
                            <h2 class="c-day-events-s">Events</h2>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</main>