/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 20px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: var(--fsS);
    border-radius: 20px;
}


tbody tr:last-child td{
    border-bottom: none;
}
thead tr th{
  border-top: none;
}
tr td:first-child, tr th:first-child{
    border-left: none;
}
tr td:last-child, tr th:last-child{
    border-right: none;
}
thead tr th:first-child{
    border-radius: 13px 0 0 0;
}
thead tr th:last-child{
    border-radius: 0 13px 0 0;
}

th, td {
    height: 70px !important;
    border: 1px solid #ededed;
}
th{
    text-align: center;
    background-color: var(--mainBackground);
    color: var(--grey);
    border: 1px solid #e7e7e7;
}
.day-span {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin: 5px;
}
td {
    background-color: white;
    position: relative;
}

/* current day */
.c-day {
    /* background: var(--mainBackground) !important; */
}
.c-day-span{
    background-color: var(--rootColor) !important;
    color: white !important;
    margin: 0 !important;
    top: -1px !important;
    border-radius: 2px 2px 50% 2px;
}

.c-day-events{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.c-day-events h2{
    display: inline-block;
}
.c-day-events-c {
    padding-right: 7px;
    font-size: 30px;
    color: var(--rootColor) ;
}
.c-day-events-s{
    transform: translateY(5px);
    font-size: 13px;
    color: rgb(188, 188, 188) ;
}

.current-day-events-header{
    color: var(--rootColor);
}



.toggle-wrapper:hover {
    background-color: #f2f2f2;
}
.toggle-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    cursor: pointer;
}
.day-span{
    color: var(--grey);
    font-size: 13px;
}



@media screen and (max-width: 800px) {
    table {
        font-size: var(--fsXS);
    }
    th, td {
        height: 50px !important;
    }
    .day-span{
        font-size: var(--fsXS);
        top: 5px;
        left: 5px;
    }
}

@media screen and (max-width: 500px) {
    .toggle-wrapper{
        padding: 5px;
    }
    th, td {
        height: 30px !important;
    }
    .day-span{
        font-size: var(--fsXXS);
        top: 3px;
        left: 3px;
    }
}