<main>
<div class="container">
    <section class="year-wrap"> 
        <app-year></app-year>
    </section>
    <table>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let day of row" #td 
                [ngClass]="{
                    'c-day': isDayToday(day),
                    'busy-day': false,
                }">
                    <span class="day-span">{{ day }}</span>
                    <div 
                        class="toggle-wrapper" 
                        *ngIf="day != null"
                        (click)="goToSingleDay(day)"
                    >
                        <div class="c-day-events" *ngIf="isDayToday(day)">
                            <h2 class="c-day-events-c">0</h2>
                            <h2 class="c-day-events-s">Events</h2>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</main>