.side-navbar {
    position: relative;
    z-index: 10;
    height: 100svh;
    width: 90px;
}

.nav-links {
    position: fixed;
    height: 100svh;
    width: 90px;
    padding: 30px 0 0 0;
    top: 0;
    left: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(95, 94, 94, 0.1);
    background-color: #ffffff;
}

.nav-links li {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.nav-links-a {
    color: var(--grey);
    border-radius: 8px;
    width: 100%;
    height: 67px;
    display: block;
    text-decoration: none;
    font-size: var(--fsL);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links-a, .icon{
    transition: 0.4s;
}
.nav-links-a:hover {
    background: var(--lGrey);
}
.active:hover{
    background-color: var(--hoverlGrey);
}
.active{
    background-color: var(--lGrey);
}

/* .active:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, #0d5df1, #0a7de9);
  left: -1.5px;
  border-radius:  20px 0 0 20px ;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.247);
} */

.active .icon{
    border-radius: 17px;
    font-weight: bold;
}
.activeSun .icon{
    color: var(--orange) !important;
}
.activeLogin .icon{
    color: rgb(220 0 255) !important;
}
.activeHome .icon{
    color: var(--rootColor) !important;
}


.content {
    margin-left: 200px;
    padding: 20px;
}
