<div class="side-navbar">
    <ul class="nav-links">
        <li>
          <a routerLink="home" routerLinkActive="active" class="nav-links-a activeHome">
            <fa-icon class="icon" [icon]="home"></fa-icon>
          </a>
        </li>
        <li>
          <a routerLink="singleday" routerLinkActive="active" class="nav-links-a activeSun">
            <fa-icon class="icon" [icon]="singleday"></fa-icon>
          </a>
        </li>
        <li *ngIf="!(isLoggedIn$ | async)">
          <a routerLink="login" routerLinkActive="active" class="nav-links-a activeLogin">
            <fa-icon class="icon" [icon]="login"></fa-icon>
          </a>
        </li>
        <li (click)="logOut()" *ngIf="(isLoggedIn$ | async)">
          <a routerLink="login" routerLinkActive="active" class="nav-links-a activeLogin">
            <fa-icon class="icon" [icon]="logout"></fa-icon>
          </a>
        </li>
    </ul>
</div>