.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    border-radius: 20px 20px 0 0;
    background-color: var(--rootColor);
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .time {
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    color: var(--rootColor);
  }
  
.select-timezone{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: none !important;
    outline: none !important;
    font-size: var(--fsM);
    background-color: var(--mainBackground);
    cursor: pointer;
    transition: 200ms;
}
.select-timezone:hover{
    background: var(--hoverlGrey)
}

.clock-icon,
.select-timezone span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-timezone span{
    color: #666;
    font-weight: bold;
}
.clock-icon{
    padding-right: 8px;
    color: rgb(255, 187, 0);
    filter: drop-shadow(0 0 10px rgba(255, 187, 0, 0.493))
}

.timezone-option{
    cursor: pointer;
    padding: 10px;
    min-height: 65px;
    background: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
}
.timezone-option:hover{
    background-color: var(--mainBackground);
}
.timezone-option:last-child{
    border: none;
}
.timezone-option span{
    color: #484848;
    font-size: var(--fsS);
}
.timezone-wrap{
    padding: 10px;
    position: absolute;
    z-index: 10;
    height: 300px;
    overflow-y: auto;
    width: 100%;
    left: 0;
    top: 85px;
    background: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 20px 20px;
}
.timezone{
    position: relative;
    padding-top: 30px;
}

.timezone-span{
    line-height: 18px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1); /* Thin transparent black background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
  }
  
  .scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: blue rgba(0, 0, 0, 0.1);
  }