
<main>
    
    <div class="times">
        <div *ngFor="let row of rows" class="times-div">
            <span class="times-span" *ngIf="row.minute == 0" >{{row.string}}</span>
        </div>
    </div>

    <app-year></app-year>

    <div #main class="single-day-popup">
        <div class="times-wrapper" #divList [ngStyle]="{'width': mainScrollWidth + 'px'}">
            <div *ngFor="let row of rows" class="time-row-wrap-wrap">
                <div class="time-row-wrap"></div>
            </div>
        </div>
       
        <app-event
            *ngFor="let event of nodes; let i = index;"
            [parent]="nodes"
            [index]="i"
            [divList]="divList"
            [level]="-1"
        ></app-event>
    
        

    </div>

</main>
