.main-wrapper{
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

main{
    width: 100%;
    background-color: white;
    padding: 0 40px 40px 40px;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.single-day-popup-wrap{
  background-color: var(--mainBackground);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.abs{
  position: absolute;
  border-radius: 10px;
  padding-top: 40px;
}
.single-day-popup{
    background-color: var(--mainBackground);
    width: 100%;
    padding-top: 40px;
    position: relative;
    overflow-x: auto;
    border-radius: 10px;
    overflow-y: hidden
}

.time-row-wrap{
    display: flex;
    height: 40px;
    margin-bottom: 0px;
    border-top: 1px solid rgb(216, 216, 216);;
}
.time-row-wrap-wrap:last-child .time-row-wrap{
    display: none !important;
}

.time-row{
    padding-left: 10px;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-row span{
    font-size: var(--fsS);
    font-weight: 500;
    color: #717171;
}

.times-wrapper {
    width: 100%;
    height: 100%;
}

.times{
    width: 40px;
    position: absolute;
    left: 0;
    top: 40px;
}
.times-div{
    height: 40px;
}
.times-span{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #666;
    background-color: white;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1); /* Thin transparent black background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
  }
  
  .scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: blue rgba(0, 0, 0, 0.1);
  }
  

  .scroller{
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    width: 40px;
    height: 60px;
    transform: translateX(-50px);
  }
  .scroller fa-icon{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    color: var(--rootColor);
  }

  .toggle-day{
    height: 60px;
    width: 100%;
    display: flex;
    padding-left: 70px;
    background-color: white;
    border-radius: 20px 20px 0 0;
  }

  .date-header{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .day-header{
    margin: 0;
    padding-right: 2px;
    font-weight: normal;
    color: var(--rootColor);
    font-size: 24px;
  }
  .slash{
    color: #b1b0b0 !important;
    padding: 0 4px;
    margin: 0;
  }

  .arrow-icon{
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    font-size: var(--fsXS);
  }
  .arrow-icon fa-icon{
    height: 100%;
    display: flex;
    align-items: center;
    color: #9b9a9a;
  }