main{
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

.single-day-popup{
    background-color: var(--mainBackground);
    width: 100%;
    padding-top: 40px;
    border-radius: 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden
}

.time-row-wrap{
    display: flex;
    height: 40px;
    margin-bottom: 0px;
    border-top: 1px solid rgb(216, 216, 216);;
}
.time-row-wrap-wrap:last-child .time-row-wrap{
    display: none !important;
}

.time-row{
    padding-left: 10px;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-row span{
    font-size: var(--fsS);
    font-weight: 500;
    color: #717171;
}

.times-wrapper {
    width: 100%;
    height: 100%;
}

.times{
    width: 40px;
    position: absolute;
    left: 0;
    top: 138.5px;
}
.times-div{
    height: 40px;
}
.times-span{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #666;
    background-color: white;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1); /* Thin transparent black background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
  }
  
  /* For Firefox */
  .scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: blue rgba(0, 0, 0, 0.1);
  }
  