<div class="main">
    <div class="mainC">
        <h1 class="header">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="authForm">
            <div class="input-wrap">
                <input class="auth-inp" type="email" placeholder="Email" formControlName="email">
                <input class="auth-inp" type="password" placeholder="Password" formControlName="password">
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="submit">Login</button>
        </form>
    </div>
</div>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <input type="email" formControlName="email">
      <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="text-danger">
        <div *ngIf="signupForm.controls['email'].errors.required">Email is required.</div>
        <div *ngIf="signupForm.controls['email'].errors.email">Invalid email format.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required minlength="8" pattern="(?=.*[A-Z]).*" #passwordInput>
      <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)" class="text-danger">
        <div *ngIf="signupForm.controls['password'].errors.required">Password is required.</div>
        <div *ngIf="signupForm.controls['password'].errors.minlength">Password must be at least 8 characters long.</div>
        <div *ngIf="signupForm.controls['password'].errors.pattern">Password must contain at least one capital letter.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
   -->