<div 
    #thisDiv
    

    class="absolute"
    appDragdrop 
    (droppedEvent)="handleDropEvent($event)"
    [divList]=divList
    [event]="thisEvent"
    [resizeDiv]="resize"
    
    [ngStyle]="{
        'width': width + 'px',
        'height': (30 * (+thisEvent.end - +thisEvent.start)) - 1 + 'px',
        'top': (+divList.offsetTop) + (+thisEvent.start * 30) + 'px',
    }"
    
    >
    <span class="event-time">{{thisEvent.start}} - {{thisEvent.end}}</span>
    <div #resize class="resize-div-wrap">
        <div  class="resize-div"></div>
    </div>
</div>

<app-event 
*ngFor="let event of thisEvent?.children; let i = index;"
[parent]="thisEvent?.children"
[index]="i"
[divList]="divList"
[divWidth]="thisDiv.clientWidth - 90"
></app-event>

<!-- 'width': (+myParent?.clientWidth - 80) + 'px' || '50%', -->