<div  
    #thisDiv
    
    class="absolute"
    appDragdrop 
    (deleteEmitter)="deleteEvent()"
    (moveNodeEmitter)="moveEvent()"
    (resizeEmitter)="resizeEvent($event)"
    (droppedEvent)="handleDropEvent($event)"
    [divList]=divList
    [event]="thisEvent"
    [resizeDiv]="resize"
    
    [ngStyle]="{
        'width': 'calc(100% - ' + (level * 150)  + 'px)',
        'height': (20 * (+thisEvent.end - +thisEvent.start)) - 1 + 'px',
        'top': (+divList.offsetTop) + (+thisEvent.start * 20) + 'px',
    }"
    
    >
    <div class="event-info"
        [ngStyle]="{
            'padding': (+thisEvent.end - +thisEvent.start) >= 2 ? '2px 5px 3px 6px' : '0.5px 2px 0 6px',
            'display': (+thisEvent.end - +thisEvent.start) >= 2 ? 'block' : 'flex'
        }"
    >
        <span class="event-time"
        >{{thisEvent.start}} - {{thisEvent.end}}</span>
        <span class="event-name">
            (event name)
        </span>
    </div>

    <div #resize class="resize-div-wrap">
        <div class="resize-div"
        [ngStyle]="{'top': (+thisEvent.end - +thisEvent.start) >= 2 ? '4px' : '-1px'}"
        ></div>
    </div>
</div>

<app-event 
*ngFor="let event of thisEvent?.children; let i = index;"
[parent]="thisEvent?.children"
[index]="i"
[divList]="divList"
[level]="this.level"
></app-event>

<!-- 'width': (+myParent?.clientWidth - 80) + 'px' || '50%', -->