.absolute {
    position: absolute;
    min-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--fsS);
    top: 0;
    left: 0;
    border: 1px solid rgb(83, 82, 82);
    border-bottom: 2px solid rgb(83, 82, 82);
    border-radius: 4px;
    width: 100%;
    height: 18px;
    background-color: var(--eventColor);
    color: white;
    cursor: pointer;
    transform-origin: top left;
    transition: background-color 200ms;
  }

  .smallEvent > .event-info{
    padding: 3px 2px 0 6px !important;
    display: flex !important;
  }

  .smallEvent > .event-info > .event-time{
    display: block !important;
  }
  .smallEvent > .resize-div-wrap > .resize-div{
    top: -5px !important;
  }

  .resize-div-wrap{
    min-height: 8px;
    height: 8px;
    width: 100%;
    position: relative;
  }

  .resize-div{
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: ns-resize;
  }

  span{
    display: block;
    font-size: var(--fsS);
  }

  .event-info{
    padding: 3px 5px 3px 6px;
    position: relative;
  }
  /* .event-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  } */
  .event-time{
    font-size: 12px;
    padding-right: 7px;
    display: flex;
  }

  .details{
    position: absolute;
    width: 170px;
    height: 107px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(125, 125, 125, 0.433);
    z-index: 10001;
    border-radius: 15px;
    padding: 10px;
    transform-origin: top left;
    overflow: hidden;
    transition: 300ms;
  }

  .color{
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 2px 7px 2px;
    cursor: pointer;
  }
  .color-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }

  .selected-color{
    position: absolute;
    width: 7px;
    height: 7.2px;
    background-color: white;
    border-radius: 50%;
  }

  .delete-wrap{
    width: 150px;
    padding: 5px;
    margin-top: 4px;
    border: none !important;
    outline: none !important;
    background: var(--rootColor);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .delete-icon{
    font-size: var(--fsM);
  }
  .delete-span{
    display: block;
    padding-right: 5px;
    font-size: var(--fsM);
  }