.absolute {
    position: absolute;
    min-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    top: 0;
    right: 0;
    outline: 1px solid rgb(251, 254, 255);
    border-radius: 4px;
    width: 100%;
    height: 18px;
    background-color: rgb(3, 155, 229);
    color: white;
    cursor: pointer;
  }
  

  .resize-div-wrap{
    height: 5px;
    width: 100%;
    position: relative;
  }

  .resize-div{
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: ns-resize;
  }

  span{
    display: block;
    font-size: 13.5px;
  }

  .event-info{
    padding: 5px 5px 0 6px;
    position: relative;
  }
  .event-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .event-time{
    padding-right: 7px;
  }