main{
    background-color: var(--mainBackground);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-y-t{
    display: flex;
    width: 100%;
}
.r-side{
    padding-left: 40px;
    width: 30%;
}

.calendar-wrap{
    width: 70%;
}
.r-side section:last-child{
    padding-bottom: 0;
}
.r-side section{
    padding-bottom: 30px;
}
