main{
    background-color: var(--mainBackground);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mainDiv{
    padding: 30px 50px;
}
.c-y-t{
    display: flex;
    width: 100%;
}


.calendar-wrap{
    width: 70%;
}
/* rside */

.r-side{
    padding-left: 40px;
    width: 30%;
}
.r-side section:last-child{
    padding-bottom: 0;
}
.r-side section{
    padding-bottom: 30px;
}

@media screen and (max-width: 1250px) {
    .mainDiv{
       padding: 25px;
    }   
   }

   
@media screen and (max-width: 1100px){
    .r-side section{
        padding: 0;
    }
    .mainDiv{
        padding: 30px;
    }
    .calendar-wrap{
        width: 100%;
    }
    .c-y-t{
        flex-direction: column;
    }
    .r-side{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .r-side section{
        width: calc(50% - 10px);
    }
    .calendar-wrap{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .r-side{
        flex-direction: column;
    }
    .r-side section{
        width: 100%;
    }
    .time-wrap{
        padding-bottom: 20px !important;
    }
}

@media screen and (max-width: 600px) {
    .mainDiv{
        padding: 30px 15px;
        background-color: white;
    }
    main{
        background-color: white;
    }
}
