<div class="popup-wrap">
    <app-popups>
    
    </app-popups>
</div>

<div class="fixed" 
    *ngIf="(isComponentOpen$ | async) !== '' || (eventsLoading$ | async) == true" 
    [@fixed]="fixedState"
    (click)="closeComponent()"
>
    <app-loading *ngIf="(eventsLoading$ | async) == true" [size]="40"></app-loading>
</div>

<div class="messages" [@messages]="messageState">
    <div class="tag" [ngClass]="{'red': error}"></div>
    <span class="message-text-wrap">
        <div class="message-text">{{message}}</div>
    </span>
</div>

<main>
    
    <app-navbar></app-navbar>
    <section class="search-router-wrap">
        <section class="outlet" [ngClass]="{
            'shrinked':
            (isComponentOpen$ | async) == 'monthsCard' || 
            (isComponentOpen$ | async) == 'yearsCard'       
        }">
            <router-outlet></router-outlet>
        </section>
    </section>
    
</main>
