main{
    display: flex;
    width: 100%;
    justify-content: center;
}
section{
    width: 100%;
}
.search-router-wrap{
    max-width: calc(100% - 90px) !important;
}
.outlet{
    min-height: 100svh;
    background: var(--mainBackground);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shrinked{
    transform: scale(0.975);
    overflow : hidden;
    border-radius : 10px;    
}
.popup-wrap{
    z-index: 1000001;
    position: absolute;
}
.fixed{
    position: fixed;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.481);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 260px;
    height: 55px;
    background-color: white;
    box-shadow: 0 1.5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index: 100000;
    overflow: hidden;
    display: flex;
}
.tag{
    position: relative;
    height: 100%;
    width: 5px;
    min-width: 5px;
    background-color: rgb(10, 238, 40);
}
.message-text-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-text{
    font-weight: bold;
    color: rgb(62, 62, 62);
    display: block;
    padding: 4px 6px 4px 18px;
    width: 255px;
    font-size: 14px;
    word-wrap: break-word;
}
.red{
    background: red;
}


@media screen and (max-width: 600px){
    main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .search-router-wrap{
        max-width: 100% !important;
        padding-bottom: 57px;
    }
    .messages{
        top: 15px;
        bottom: initial;
    }
}