<main>

  <button>
    <div class="month" (click)="openMonths()">
      <span class="month-span">Jan</span>
    </div>
    <aside class="line"></aside>
    <div class="year" (click)="openYears()">
      <span class="year-span">2023</span>
    </div>
  </button>

  
    <div class="container">
      <table>
        <tbody>
          <tr *ngFor="let row of months">
            <td *ngFor="let column of row" class="cell">
                <span class="cell-span">{{column}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>
  
  
  