<main>

  <button>
    <div class="month" (click)="openMonths()">
      <span class="month-span">{{currentMonth}}</span>
    </div>
    <aside class="line"></aside>
    <div class="year" (click)="openYears()">
      <span class="year-span">{{today.getFullYear()}}</span>
    </div>
  </button>

  
    <div class="container zIndexMax" *ngIf="(container$ | async) === 'normal'" [@container]="container$ | async">
      <table>
        <tbody>
          <tr *ngFor="let row of months; let i = index">
            <td *ngFor="let column of row; let j = index" class="cell">
                <span class="cell-span"
                [ngClass]="{ 'activeMonth' : currentMonth == column }"
                (click)="pickMonth(i, j)"
                >{{column}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>
  
  
  