<div class="details" *ngIf="detailsOpen" [@wrapper]="wrapper"
    [ngStyle]="{
        'top': +thisEvent.start > 92 ? ((+divList.offsetTop) + (+thisEvent.start * 40)) - 130 + 'px' : ((+divList.offsetTop) + (+thisEvent.start * 40)) + 50 + 'px',
        'left': (level * 150) + 50 + 'px',
    }"
>
    <div class="color-wrap">
        <div class="color" *ngFor="let color of colors" [ngStyle]="{'background': color.name}" (click)="selectColor(color)">
            <div *ngIf="color.name == thisEvent.color.name" class="selected-color"></div>
        </div>
    </div>   


    <button class="delete-wrap" (click)="deleteNode()">
        <span class="delete-span">Delete</span>
        <fa-icon class="delete-icon" [icon]="deleteIcon"></fa-icon>
    </button>
</div>

<div  
    class="absolute"
    appDragdrop 
    (moveNodeEmitter)="moveEvent()"
    (openDetailsWindow)="openDetails($event)"
    (resizeEmitter)="resizeEvent($event)"
    [divList]=divList
    [event]="thisEvent"
    [resizeDiv]="resize"
    [pickedColor]="pickedColor"
    
    [ngStyle]="{
        'width': 250 > WINDOW - (level * 150) ? '250px' : WINDOW - (level * 150) + 'px',
        'left': (level * 150) + 'px',
        'height': (40 * (+thisEvent.end - +thisEvent.start)) + 'px',
        'top': (+divList.offsetTop) + (+thisEvent.start * 40) + 'px',
        'background': thisEvent.color.name
    }"

    [ngClass]="{
        'smallEvent': 2 > (+thisEvent.end - +thisEvent.start)
    }"

    [@absolute]="absoluteState"

    #thisDiv
    >
    <div class="event-info" [ngStyle]="{'color': thisEvent.color.pastel ? 'black' : 'white'}">
        <span class="event-time">
            <div>{{getEventTime().start.hours}}:{{getEventTime().start.minutes == 0 ? '00' : getEventTime().start.minutes }}{{getEventTime().start.meridiem}} -</div>
            <div style="width: 4px; height: 2px;"></div>
            <div>{{getEventTime().end.hours}}:{{getEventTime().end.minutes == 0 ? '00' : getEventTime().end.minutes }}{{getEventTime().end.meridiem}}</div>
        </span>
        <span class="event-name">
            (event name)
        </span>
        
    </div>

    <div #resize class="resize-div-wrap">
        <div class="resize-div"></div>
    </div>
</div>

<app-event 
*ngFor="let event of thisEvent?.children; let i = index;"
[parent]="thisEvent?.children"
[index]="i"
[divList]="divList"
[level]="this.level"
></app-event>