/* You can add global styles to this file, and also import other style files */

:root{
    --fsXXS: 9px;
    --fsXS: 11px;
    --fsS: 13px;
    --fsM: 16px;
    --fsL: 19px;
    --fsH: 40px;
    /* colors */
    --mainBackground: #f4f4f4; /* #f3f9ff; */
    --rootColor: rgb(83, 3, 255);
    --hoverrootColor: rgb(77, 0, 243);
    --lGrey: #f4f4f4;
    --hoverlGrey: rgb(229, 229, 229);
    --grey: #717070;
    --orange: rgb(255, 187, 0);
    --grey: #757575;
    --bxs: 0 4px 8px rgba(0, 0, 0, 0.1)
}
body { 
    width: 100%;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    background: var(--mainBackground);
}
* {
    box-sizing: border-box !important;
}
.event-info span, tr, th, table, .time-row{
    user-select: none;
    -webkit-user-select: none;
}
.touched {
    transition: 
    background-color 200ms,
    box-shadow 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    box-shadow: rgba(100, 106, 111, 0.649) 0px 10px 29px 0px;
    background-color: rgba(5, 160, 238, 0.696) !important;
    font-weight: 500;
}

.header{
    display: block;
    font-size: var(--fsH);
    padding-bottom: 20px !important;
}